@font-face {
  font-family: "Oswald";
  src: local("Oswald"),
    url(./assets/fonts/Oswald/Oswald-VariableFont_wght.ttf) format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.homeNav {
  width: 100vw;
  display: flex;
  flex-direction: horizontal;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
}

.nav {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  display: flex;
  flex-direction: horizontal;
  align-items: center;
  justify-content: center;
}

.navMenu {
  float: right;
}

.logoArea {
  display: flex;
  flex-direction: horizontal;
  align-items: center;
  justify-content: center;
  position: static;
}

.logoLink {
  display: flex;
  flex-direction: horizontal;
  align-items: center;
  justify-content: center;
}

.brandLogo {
  max-width: 100%;
}

.titlePage {
  display: inline-block;
  margin: top 10px;
  margin-left: 10px;
  font: size 25px;
  height: 35px;
  font-family: "Oswald";
  font-weight: 300;
}

.navMenu {
  display: flex;
  flex-direction: horizontal;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 100%;
  position: relative;
}

.navButton {
  padding: 27px 20px;
  font-size: 16px;
  border: 0px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  font-family: "Oswald";
}

.navButton:hover {
  background-color: rgba(100, 180, 204, 0.75);
}

.videoTag {
  z-index: -100;
  width: 100%;
  height: 100vh;
  min-width: 0%;
  max-width: 100%;
  max-height: 100vh;
  overflow: hidden;
  object-fit: cover;
  position: absolute;
  top: 0;
}

.home {
  display: flex;
  flex-direction: horizontal;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  min-width: 0%;
  max-width: 100%;
  max-height: 100vh;
  overflow: hidden;
  object-fit: cover;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}

.homeContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  padding: 0px 5%;
  overflow: hidden;
  position: static;
}

.logoContainer {
  position: auto;
  align-self: center;
  justify-self: center;
  display: block;
  margin-right: 5%;
  min-width: 50%;
  max-width: none;
  overflow: hidden;
}

.titleOne {
  padding-bottom: 20px;
  overflow: hidden;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  color: white;
  margin: 0;
}

.titleDescription {
  padding: bottom 10px;
  width: 400px;
  min-width: 350px;
  overflow: hidden;
  font-family: "Oswald";
  font-weight: 300;
  font-size: 30px;
  color: white;
  margin: 0;
  line-height: 35px;
}

.mainsiteButton {
  margin: 10px 5% 0px 0px;
  padding: 9px 15px;
  float: right;
  font-family: "Oswald";
  font-weight: 300;
  font-size: 20px;
  color: white;
  margin: 0;
  line-height: 25px;
  background-color: rgba(100, 180, 204, 0);
  border: 3px solid white;
  border-radius: 25px;
  transition: opacity 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.mainsiteButton:hover {
  background-color: rgba(100, 180, 204, 0.75);
}

.storiesContainer {
  position: static;
  align-self: none;
  justify-self: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: stretch;
  justify-items: stretch;
  align-content: stretch;
  justify-content: stretch;
  margin: 10vh 0px 0px 5%;
  min-width: 25%;
  overflow: hidden;
}

.topStoriesTitle {
  display: block;
  margin-bottom: 10px;
  overflow: hidden;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: white;
}

.storiesTitle {
  display: block;
  padding-bottom: 1%;
  margin-bottom: 19px;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: white;
  border-bottom: 1px solid white;
}

.topStoriesContainer {
  align-self: none;
  justify-self: none;
  display: flex;
  flex-direction: horizontal;
  align-items: stretch;
  justify-content: start;
  padding: 20px;
  width: auto;
  min-width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: outside 1px 0px 0px rgba(0, 0, 0, 0.12);
  transition: opacity 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.topStoriesImageContainer {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-right: 10px;
  width: auto;
  min-width: auto;
  min-height: auto;
  overflow: hidden;
}

.topStoriesImageFrame {
  width: 100%;
  height: 100%;
  min-width: auto;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  box-shadow: outside 1px 0px 0px rgba(0, 0, 0, 0.12);
}

.topStoriesImage{
  width: 200px;
  height: 100px;
  min-width: 40%;
  min-height: 100%;
  max-width: 200px;
  max-height: 100px;
  overflow: hidden;
  object-fit: cover;
}

.topStoriesArticleContainer{
  display:flex;
  flex-direction: column !important;
  align-items: start;
  justify-content: center;
  padding: 0px 10px;
  width: 100%;
  height: 100%;
  min-width: 63.08%;
  min-height: auto;
  min-height: none;
}

.topStoriesDiv{
  display: flex;
  flex-direction: column !important;
  align-items: start;
  justify-content: start;

}

.topStoriesArticleTitle{
  display: block;
  margin-bottom: 10px;
  height: auto;
  min-height: 27px;
  max-height: 55px;
  overflow: hidden;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: white;
}

.topStoriesDescription{
  margin-bottom: 5px;
  height: 45px;
  overflow: hidden;
  font-family: "Oswald";
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: white;
}

.topStoriesAuthorContainer{
  display:flex;
  flex-direction: horizontal;
  align-items: stretch;
  justify-content: start;
}

.topStoriesCredit{
  display:flex;
  flex-direction: horizontal;
  align-items: stretch;
  justify-content: start;
}

.topStoriesBy{
  display: block;
  margin: 10px 0px;
  padding-right: 3px;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: white;
}

.topStoriesAuthors{
  display: block;
  margin: 10px 0px;
  padding-right: 3px;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: white;
}